@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.top-card {
    background-color: #894bca;
    background-size: cover;
    height: 100vh;
}

.top-card-h {
    padding: 10px;
}

.top-card-head {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 30px;
    padding: 10px;
}

.top-card-image {
    height: 160px;
    width: 160px;
}

.bottom-card {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

.bottom-card2 {
    margin: 10px;
    padding: 10px;

}

.bottom-card-image {
    height: 60px;
    width: 60px;
}

.botom-card-head {
    color: #f780c3;
    font-size: 18px;
    font-weight: bold;
}

.bottom-card-image2 {
    margin: 10px;
    padding: 10px;
}

.bottom-card-image-head {
    font-size: 20px;
    color: #323f4b;
    font-weight: bold;
}

.bottom-card-image-paragraph {
    font-size: 15px;
    color: #7b8794;
    font-weight: bold;
}